<%= form_for(@patient_status) do |f| %>
  <% if @patient_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient_status.errors.count, "error") %> prohibited this patient_status from being saved:</h2>

      <ul>
      <% @patient_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status_name %><br>
    <%= f.text_field :status_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
