<h1>Listing patient_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Status name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_statuses.each do |patient_status| %>
      <tr>
        <td><%= patient_status.status_name %></td>
        <td><%= link_to 'Show', patient_status %></td>
        <td><%= link_to 'Edit', edit_patient_status_path(patient_status) %></td>
        <td><%= link_to 'Destroy', patient_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient status', new_patient_status_path %>
