<p id="notice"><%= notice %></p>

<p>
  <strong>Status name:</strong>
  <%= @patient_status.status_name %>
</p>

<%= link_to 'Edit', edit_patient_status_path(@patient_status) %> |
<%= link_to 'Back', patient_statuses_path %>
